.post .post-content div.poll-post .poll-row .poll-row-content-wrapper .voted-icon:before {
    font-family: tumblr-icons, Blank;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none
}

@font-face {
    font-family: Calluna;
    src: url("/fonts/calluna/Calluna-Regular-webfont.eot?3=&v=7c192d86344b943cd3e8d9123ed1dafa");
    src: url("/fonts/calluna/Calluna-Regular-webfont.eot?3%3F=&v=7c192d86344b943cd3e8d9123ed1dafa#iefix") format("embedded-opentype"), url("/fonts/calluna/Calluna-Regular-webfont.woff?3=&v=60172bcdc91d310108023e102eec8676") format("woff"), url("/fonts/calluna/Calluna-Regular-webfont.ttf?3=&v=cc6292d625d03dc65b9665f0cd27e2cd") format("truetype"), url("/fonts/calluna/Calluna-Regular-webfont.svg?3=&v=2ad0b09dbe56cc705930dbfeef247daa#_.regular") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Calluna;
    src: url("/fonts/calluna/Calluna-Black-webfont.eot?3=&v=4d396676b5b7013e8062b0306fb6df25");
    src: url("/fonts/calluna/Calluna-Black-webfont.eot?3%3F=&v=4d396676b5b7013e8062b0306fb6df25#iefix") format("embedded-opentype"), url("/fonts/calluna/Calluna-Black-webfont.woff?3=&v=cfbfc0fbbd321fd3635b9d1fb3abd7da") format("woff"), url("/fonts/calluna/Calluna-Black-webfont.ttf?3=&v=66795c1b09c6ecba8d96d158e5f25e4e") format("truetype"), url("/fonts/calluna/Calluna-Black-webfont.svg?3=&v=becfe0f2e977ae23541d14051460730e#CallunaBlckRegular") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Calluna;
    src: url("/fonts/calluna/Calluna-It-webfont.eot?3=&v=453599746440802fdf03799f74479ccc");
    src: url("/fonts/calluna/Calluna-It-webfont.eot?3%3F=&v=453599746440802fdf03799f74479ccc#iefix") format("embedded-opentype"), url("/fonts/calluna/Calluna-It-webfont.woff?3=&v=405661ebc034bd72b7cb87624f0a2314") format("woff"), url("/fonts/calluna/Calluna-It-webfont.ttf?3=&v=da7067454d72bb032deeac7a7a6d0a63") format("truetype"), url("/fonts/calluna/Calluna-It-webfont.svg?3=&v=0299cc7f2f883c51b56ddfc1726b8dec#_.regular") format("svg");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Calluna;
    src: url("/fonts/calluna/Calluna-BoldIt-webfont.eot?3=&v=f685dc881c60c298ea22a73fe505b88a");
    src: url("/fonts/calluna/Calluna-BoldIt-webfont.eot?3%3F=&v=f685dc881c60c298ea22a73fe505b88a#iefix") format("embedded-opentype"), url("/fonts/calluna/Calluna-BoldIt-webfont.woff?3=&v=760a50f4d098e59aebaf0f0e58ae2cc8") format("woff"), url("/fonts/calluna/Calluna-BoldIt-webfont.ttf?3=&v=5ace789439bff3b27f8d4112725531da") format("truetype"), url("/fonts/calluna/Calluna-BoldIt-webfont.svg?3=&v=5b95c481dd7411c6e112143d6646bd9b#_.regular") format("svg");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: Fairwater;
    src: url("/fonts/fairwater/fairwater_script_regular-webfont.woff2?v=b7ab7a58cded3365889a447bfd9e9c45") format("woff2"), url("/fonts/fairwater/fairwater_script_regular-webfont.woff?v=96e975b7468359e6f67086305577e43e") format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Source Code Pro;
    src: url("/fonts/sourcecodepro/sourcecodepro-regular-webfont.woff2?v=c2bb363563f7a15a4c0fe91cf951a67c") format("woff2"), url("/fonts/sourcecodepro/sourcecodepro-regular-webfont.woff?v=c5fa36698a378c9c64711cec95efd69e") format("woff");
    font-weight: 400;
    font-style: normal
}

p.npf_quote {
    font-family: Calluna, sans-serif
}

p.npf_quirky {
    font-family: Fairwater, serif;
    font-size: 24px;
    line-height: 1.3em
}

p.npf_chat {
    font-family: Source Code Pro, monospace
}

p.npf_color_joey,
span.npf_color_joey {
    color: #ff492f
}

p.npf_color_monica,
span.npf_color_monica {
    color: #ff8a00
}

p.npf_color_phoebe,
span.npf_color_phoebe {
    color: #e8d73a
}

p.npf_color_ross,
span.npf_color_ross {
    color: #00cf35
}

p.npf_color_rachel,
span.npf_color_rachel {
    color: #00b8ff
}

p.npf_color_chandler,
span.npf_color_chandler {
    color: #7c5cff
}

p.npf_color_niles,
span.npf_color_niles {
    color: #ff62ce
}

p.npf_color_frasier,
span.npf_color_frasier {
    color: #001935
}

p.npf_color_mr_big,
span.npf_color_mr_big {
    color: #000c1a
}

.npf-link-block {
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #e7e7e7;
    border-radius: 7px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0 15px;
    overflow: hidden
}

.npf-link-block>a {
    width: 100%
}

.post-wrapper .npf-link-block>a {
    text-decoration: none
}

.npf-link-block.no-poster .title {
    padding: 0 10px
}

.npf-link-block .poster {
    -ms-flex-align: center;
    align-items: center;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    height: 250px;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative
}

.npf-link-block .poster .title {
    color: #fff;
    font-weight: 700;
    padding: 0 25px;
    position: absolute
}

.npf-link-block .poster:before {
    background: #000;
    content: "";
    display: block;
    height: 100%;
    opacity: .33;
    position: absolute;
    width: 100%
}

.npf-link-block .title {
    font-size: 25px;
    line-height: 34px;
    max-height: 136px;
    overflow: hidden
}

.npf-link-block .bottom {
    line-height: 24px;
    padding: 10px
}

.npf-link-block .bottom .description {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    max-height: 48px;
    overflow: hidden
}

.npf-link-block .bottom .site-name {
    color: #b4b4b4;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;
    text-transform: uppercase
}

.tmblr-full>video {
    height: 100%;
    width: 100%
}

.post-content div.npf_row,
.post div.npf_row,
body div.npf_row {
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -ms-flexbox;
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 0;
    overflow: hidden
}

.post-content div.npf_row figure.tmblr-full,
.post div.npf_row figure.tmblr-full,
body div.npf_row figure.tmblr-full {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    overflow-y: hidden
}

.post-content div.npf_row .npf_col,
.post-content div.npf_row figure.tmblr-full,
.post div.npf_row .npf_col,
.post div.npf_row figure.tmblr-full,
body div.npf_row .npf_col,
body div.npf_row figure.tmblr-full {
    display: -ms-flexbox;
    display: flex;
    padding-left: 2px;
    padding-right: 2px
}

.post-content div.npf_row .npf_col:first-child,
.post-content div.npf_row figure.tmblr-full:first-child,
.post div.npf_row .npf_col:first-child,
.post div.npf_row figure.tmblr-full:first-child,
body div.npf_row .npf_col:first-child,
body div.npf_row figure.tmblr-full:first-child {
    padding-left: 0;
    padding-right: 2px
}

.post-content div.npf_row .npf_col:last-child,
.post-content div.npf_row figure.tmblr-full:last-child,
.post div.npf_row .npf_col:last-child,
.post div.npf_row figure.tmblr-full:last-child,
body div.npf_row .npf_col:last-child,
body div.npf_row figure.tmblr-full:last-child {
    padding-left: 2px;
    padding-right: 0
}

.post-content div.npf_row .npf_col:only-child,
.post-content div.npf_row figure.tmblr-full:only-child,
.post div.npf_row .npf_col:only-child,
.post div.npf_row figure.tmblr-full:only-child,
body div.npf_row .npf_col:only-child,
body div.npf_row figure.tmblr-full:only-child {
    padding-left: 0;
    padding-right: 0
}

.post-content div.npf_row img,
.post div.npf_row img,
body div.npf_row img {
    height: auto
}

.post-content div.npf_row figure[data-enable-lightbox="1"],
.post div.npf_row figure[data-enable-lightbox="1"],
body div.npf_row figure[data-enable-lightbox="1"] {
    cursor: pointer
}

.post-content div.npf_row .npf_col,
.post div.npf_row .npf_col,
body div.npf_row .npf_col {
    -ms-flex: 1;
    flex: 1
}

.post-content div.npf_row .npf_col figure,
.post div.npf_row .npf_col figure,
body div.npf_row .npf_col figure {
    position: relative;
    width: 100%;
    margin: 0;
    text-align: left
}

.post-content div.npf_row .npf_col figure img,
.post div.npf_row .npf_col figure img,
body div.npf_row .npf_col figure img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.post-content .crt-video+div.npf_row,
.post-content div.npf_row+.crt-video,
.post-content div.npf_row+p,
.post-content p+div.npf_row,
.post .crt-video+div.npf_row,
.post div.npf_row+.crt-video,
.post div.npf_row+p,
.post p+div.npf_row,
body .crt-video+div.npf_row,
body div.npf_row+.crt-video,
body div.npf_row+p,
body p+div.npf_row {
    margin-top: 15px
}

.post-content div.npf_row+div.npf_row,
.post-content div.npf_row+figure.tmblr-full,
.post div.npf_row+div.npf_row,
.post div.npf_row+figure.tmblr-full,
body div.npf_row+div.npf_row,
body div.npf_row+figure.tmblr-full {
    margin-top: 4px
}

.post-content .note_item div.npf_row,
.post .note_item div.npf_row,
body .note_item div.npf_row {
    margin-left: 0;
    margin-right: 0
}

.post .post-content div.poll-post .poll-row {
    border: 1px solid #000;
    border-radius: 6px;
    height: 50px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding: 12px 15px;
    line-height: 24px
}

.post .post-content div.poll-post .poll-row .poll-row-bg {
    display: block;
    background: rgba(0, 0, 0, .25);
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    animation: fill-bar 2s ease forwards
}

@keyframes fill-bar {
    0% {
        width: 0
    }

    to {
        width: 100%
    }
}

.post .post-content div.poll-post .poll-row .poll-row-content-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px
}

.post .post-content div.poll-post .poll-row .poll-row-content-wrapper h1,
.post .post-content div.poll-post .poll-row .poll-row-content-wrapper p {
    margin: 0
}

.post .post-content div.poll-post .poll-row .poll-row-content-wrapper .poll-row-pct {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 10px
}

.post .post-content div.poll-post .poll-row .poll-row-content-wrapper .voted-icon {
    margin-right: 9px
}

.post .post-content div.poll-post .poll-row .poll-row-content-wrapper .voted-icon:before {
    content: "\EABB"
}

.post .post-content div.poll-post .poll-question {
    margin-bottom: 20px
}

.post .post-content div.poll-post .poll-question h1,
.post .post-content div.poll-post .poll-question p {
    font-size: 26px
}

.post .post-content div.poll-post .poll-vote-count {
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    font-size: 16px
}

.post .post-content div.poll-post .poll-row {
    width: auto;
    height: auto
}
}
.patronserv {

  background: url(https://xatimg.com/image/4wvp8NdnHnv5.gif) no-repeat;
  background-repeat: no-repeat;
  position: relative;S
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 250px;
  border-radius: 6px;
  text-shadow: 2px 0 0px #ff0000, 1px 0px 0px rgba(77,0,38,0.5);
  color: #fff;
}
	
.patronserv .player-serv {
	max-width: 350px;
	min-width: 372px;
	height: 250px;
	background-color: #000000;
	font-family: 'Roboto Condensed', Arial, sans-serif;
	position: relative;
	margin: 0 auto;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #0000ff!important;
}

.patronserv .player-ctr {
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	z-index: 10;
	width: 272px;
}
.patronserv .blur {
	width: 0%;
	height: 0%;
	background-size: cover;
	position: absolute;
	top: 0;
	-webkit-filter: blur(20px):
	-ms-filter: blur(20px);
	filter: blur(20px);
	transform: scale(1.05);
	opacity: 0.50;
	z-index: 1;
}
.patronserv .album-cover-serv {
	width: 200px;
	margin: 0 ;
}
.patronserv .album-cover {
	width: 150px;
	height: 134px;	
	background: url();
	background-size: 100% 100%;
	position: relative;
	margin: 119px 24px;		
	border-radius: px;
	-webkit-box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
	box-shadow: 4px 6px 30px 0px rgba(0,0,0,0.6);
	z-index: 2;
}
.patronserv .track-info-serv {
	width: 300px;
	height: 26px;
	box-sizing: border-box;
	color: rgba(255,255,255,1);
	font-size: 16px;
	text-align: center;
	position: absolute;
	left: 5px;
	margin-top: -308px;
	padding-top: 3px;
	border-left: 0px solid rgba(255,255,255,.87);
	border-right: 0px solid rgba(255,255,255,.87);
	overflow: hidden;
	z-index: 4;
	top: 308px;
}
.patronserv .track-info-ctr {
	max-width: 600px;	
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}
.patronserv .songtitle {
	font-size: 1.0em;
    font-weight: 600;
    color: #fff;
	text-transform: uppercase;
    font-family: 'DS-Digital', sans-serif;
}
.patronserv .artist-name {
	font-size: 1.0em;
    font-weight: 600;
    color: #fff;
	text-transform: uppercase;
    font-family: 'SDS-Digital', sans-serif;
}
.patronserv .servertitle {
	max-width: 350px;
	font-size: 30px;
	color: #FFFFFF;
	text-align: center;
	position: absolute;
	left: 251px;
	right: 0;
	bottom: 93px;
	margin: 0px;
	bottom: 150px;
	margin: 0px;
	font-family: 'SDS-Digital', sans-serif;
	width: 256px;
	height: 43px;
	width: 0px;
}

#animation{
	position: absolute;
	left: -1px;
	top: 0px;
}

.patronserv .listeners {
	max-width: 100px;
	font-size: 20px;
	color: rgb (0 60 255/ 1);
	position: absolute;
	top: 200px;
	right: 70px;
}
.patronserv .listeners:before {
	content:url();
	font-size: 15px;
	padding-right: 6px;
	vertical-align: top;
	font: 'SpeedBeast FREE', sans-serif;
}
.patronserv .ppBtn {
	width: 25px;
	height: 25px;
	background-position: center center;
	position: absolute;
	bottom: 375px;
	left: 93px;
	right: 0;
	margin: 0px;
	border: 4px solid #9b0a0a;
	border-radius: 50%;
	cursor: pointer;
}
.patronserv .ppBtn:before {
	content: "";
	width: 25px;
	height: 25px;
	background-color: rgba(0,0,0,0.3);
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	transition: background-color ease 0.5s;
}
.patronserv .ppBtn:hover:before {
	background-color: rgba(255,255,255,.44);
}
.patronserv .play-btn {
	background: url(https://xatimg.com/image/LPfJFgtqGx2B.png);
	background-repeat: no-repeat;
	background-position: center center;	
	background-size: 25px 25px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s; 
    transition: background 0.5s;
}
.patronserv .stop-btn {
	background: url(https://xatimg.com/image/80Sgjha9fz59.png);
	background-repeat: no-repeat;
	background-position: center center;	
	background-size: 25px 25px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s; 
    transition: background 0.5s;
}
.patronserv .icons-left-serv {
	position: absolute;
	bottom: 1px;
	left: 573px;
	z-index: 11;
}
.patronserv .icons-right-serv {
	text-align: left;
	position: absolute;
	bottom: 118px;
	right: 55px;
	z-index: 11;
}
.patronserv .icons-left {
	width: 18px;
	height: 18px;
	font-size: 18px;
	color: rgba(255,255,255,.92);
	text-align: center;
	margin-right: 28px;
	cursor: pointer;
}
.patronserv .icons-right {
	width: 24px;
	height: 24px;
	font-size: 24px;
	color: rgba(255, 122, 189, 0.87);
	text-align: left;
	margin-left: -436px;
	cursor: pointer;
}
.patronserv .icons-serverinfo:before {
	content:url(https://i.imgur.com/7RiZ9lG.png);
}
.patronserv .icons-history:before {
	content:url(https://i.imgur.com/vpI7WUu.png);
}
.patronserv .icons-share:before {
	content:url(https://i.imgur.com/5jx7VMF.png);
}
.patronserv .icons-volume1:before {
	content:url(https://i.imgur.com/IVc7y3c.png);
}
.patronserv .icons-volume2:before {
	content:url(https://i.imgur.com/snkXft9.png);
}
.patronserv .icons-volume3:before {
	content:url(https://i.imgur.com/8NjXLpf.png);
}
.ppatronserv .icons-volumeM {
	display: none;
}
.patronserv .icons-volumeM:before {
	content:url(https://i.imgur.com/jx8v0ll.png);
}
.patronserv .icons-volumeM2:before {
	content:url(https://i.imgur.com/nRi62cH.png);
}
.patronserv .icons-close:before {
	content:url(https://i.imgur.com/vESV3dt.png);
}
.patronserv .volume-slider {
	position: absolute;
	bottom: 140px;
	right: 364px;
	display: auto;
	z-index: 10;
}
.patronserv input[type=range] {
	width: 100px;
	height: 6px;
	background: none;
	padding: 6px 0px 6px 0px;
	transform: rotate(0deg);
	transform-origin: bottom;
	-webkit-appearance: none;
	cursor: pointer;
}
.patronserv input[type=range]:focus {
	outline: none;
}
.patronserv input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 6px;
	background: #9b0a0a;
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 8px;
	cursor: pointer;	
	animate: 0.2s;
}
.patronserv input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgba(255,255,255,.54);
}
.patronserv input[type=range]::-webkit-slider-thumb {
	width: 16px;
	height: 16px;
	background: #ccc;
	margin-top: -5px;
	border: 5px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	-webkit-appearance: none;
}
.patronserv input[type=range]::-moz-range-track {
	width: 100%;
	height: 6px;
	background: rgba(255,255,255,.54);
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
	animate: 0.2s; 
}
.patronserv input[type=range]::-moz-range-thumb {
	width: 6px;
	height: 6px;
	background: #ccc;
	border: 5px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.dmjserv input[type=range] {
		width: 90px;
		height: 16px;
		background: none;
		margin-top: 0px;
		padding: 6px 0px 6px 0px; 
		cursor: pointer;
	}
}
.patronserv input[type=range]::-ms-tooltip {
	display: none; 
}
.patronserv input[type=range]::-ms-track {
	width: 100%;
	height: 6px;
	background: transparent;
	color: transparent;
	margin: 0;
	padding: 0;
	border: 0;
	border-color: transparent;
	cursor: pointer;
	animate: 0.2s;  
}
.patronserv input[type=range]::-ms-fill-lower {
	background: rgba(255,255,255,.54);
	border: 0;
	border-radius: 8px;
}
.patronserv input[type=range]::-ms-fill-upper {
	background: rgba(255,255,255,.54);
	border: 0;
	border-radius: 8px;
}
.patronserv input[type=range]::-ms-thumb {
	width: 6px;
	height: 6px;
	background: #ccc;
	border: 5px solid #fff;
	border-radius: 50%;  
	cursor: pointer;
}
.patronserv input[type=range]:focus::-ms-fill-lower {
	background: rgba(255,255,255,.54);
}
.patronserv input[type=range]:focus::-ms-fill-upper {
	background: rgba(255,255,255,.54);
}
.patronserv .history-serv {

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 22px auto 0 auto;
	z-index: 10;
}
.patronserv .history-title {
	font-size: 24px;
	color: rgba(255,255,255,1);
	margin: 0 22px 15px 22px;
	padding-bottom: 5px;	
	border-bottom: 1px solid rgba(255,255,255,.7);
}
.patronserv .row-serv {
	height: 50px;
	background-color: rgba(255,255,255,.2);
	position: relative;
	margin: 0 22px 9px 22px;	
	border-radius: 5px;
}
.patronserv .history-cover {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 6px;
	left: 8px;
	border-radius: 50%;
}
.history-track-info {
	text-align: left;
	padding-left: 55px;
	padding-top: 5px;
}
.patronserv .history-songtitle {
	max-width: 350px;
	font-size: 19px;	
	color: rgba(255,255,255,1);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.patronserv .history-artist-name {
	max-width: 600px;
	font-size: 16px;
	color: rgba(255,255,255,.7);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.patronserv .rowNum {
	width: 38px;
	height: 50px;
	font-size: 42px;
	color: rgba(255,255,255,.2);
	text-align: center;
	position: absolute;
	top:0px;
	right: 0px;
}
.patronserv .social-share-jmd {
	width: 200px;
	height: 200px;	
	box-sizing: border-box;
	background-color: rgba(0,0,0,.3);
	color: #fff;
	font-size: 18px;
	line-height: 30px;	
	text-align: center;
	position: absolute;
	top: 23px;
	right: 280;
	left: 32px;
	margin: 0px;
	padding: 70px 0;
	border-radius: 4px;
	overflow: hidden;
	display: none;
	z-index: 11;
}
.patronserv .social-link {
	width: 38px;
	height: 38px;
	font-size: 24px;
	color: #fff;
	line-height: 38px;
	text-decoration: none;
	margin: 0 4px;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	
}
.patronserv .social-link-facebook {
	background: #3F51B5;
}
.patronservdmjserv .social-link-facebook:before {
	content:url(https://i.imgur.com/gd2VMU5.png);
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
.patronserv .social-link-twitter {
	background: #2196F3;
}
.patronserv .social-link-twitter:before {
	content:url(https://i.imgur.com/pHA32nk.png);
}
.patronserv .display {
	display: block;
}
.patronserv .nodisplay {
	display: none;
}

/* Responsive classes */
@media only screen and (max-width: 400px) {
	.patronserv .track-info-serv {
       margin: 28px 42px 0 42px;
	
	}
}

/* Animations */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated.bounceIn {
  animation-duration: .75s;
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  animation-name: bounceIn;
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}
.bounceInDown {
  animation-name: bounceInDown;
}
.marquee {
  white-space: nowrap;
  position: relative;
  transform: translateX(-50%);
  display: inline-block;
  left: 200px;
  padding-top: 0px;
  animation: linear infinite;
  overflow: hidden;
  text-align: left;
  animation-duration: 10s;
  animation-name: movement-smooth;
  animation-direction: normal;
}
.marquee:hover { 
	animation-play-state: paused 
}
.marquee.marquee-speed-custom:before {
  animation-duration: inherit;
}
.marquee.marquee-speed-normal:before {
  animation-duration: 10s;
}
@keyframes movement-smooth {
  from {
    transform: translateX(0%);
    left: 100%;
  }
  to {
    transform: translateX(-100%);
    left: 0%;
  }
}
.marquee.marquee-movement-smooth:before {
  animation-name: movement-smooth;
}
.marquee.marquee-direction-left:before,
.marquee.marquee-direction-normal:before {
  animation-direction: normal;
}
.data {
    position: absolute;
    font-family: 'SDS-Digital', cursive;
    font-size: 16px;
	color: #fff; 
    left: 8px;
    top: 227px;
    width: 223px;
    height: 19px;
    z-index: 16;
    border: 1px;
}


#Clock {
	position: absolute;
	top: 227px;
	left:274px;
	color: #fff;
	width:43px;
	font-family: 'SDS-Digital', cursive;
	font-size: 16px;
}
.animated1 {  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated1 {  animation-duration: .75s;
}
.patronserv1 {
  background: url() no-repeat;
  background-repeat: no-repeat;
  background-position: 0px center;
  position: relative;S
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 2720px;
  border-radius: 6px;
}
.marquee1 {  white-space: nowrap;
  position: relative;
  transform: translateX(-50%);
  display: inline-block;
  left: 200px;
  padding-top: 0px;
  animation: linear infinite;
  overflow: hidden;
  text-align: left;
  animation-duration: 10s;
  animation-name: movement-smooth;
  animation-direction: normal;
}
.animated2 {  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated2 {  animation-duration: .75s;
}
.patronserv11 {  background: url() no-repeat;
  background-repeat: no-repeat;
  background-position: 0px center;
  position: relative;S
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 272px;
  border-radius: 6px;
}
.marquee11 {white-space: nowrap;
  position: relative;
  transform: translateX(-50%);
  display: inline-block;
  left: 20px;
  padding-top: 0px;
  animation: linear infinite;
  overflow: hidden;
  text-align: left;
  animation-duration: 10s;
  animation-name: movement-smooth;
  animation-direction: normal;
}
.animated3 {  animation-duration: 1s;
  animation-fill-mode: both;
}
.animated3 {  animation-duration: .75s;
}
.patronserv111 {background: url() no-repeat;
  background-repeat: no-repeat;
  background-position: 0px center;
  position: relative;S
  box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
  background-size: cover;
  overflow: hidden;
  position: relative;
  width: 600px;
  height: 272px;
  border-radius: 6px;
}
.marquee111 {white-space: nowrap;
  position: relative;
  transform: translateX(-50%);
  display: inline-block;
  left: 10px;
  padding-top: 0px;
  animation: linear infinite;
  overflow: hidden;
  text-align: left;
  animation-duration: 10s;
  animation-name: movement-smooth;
  animation-direction: normal;
}