body {
    background-color:#2a2929;
    color:#2a2929;
    font-family: 'Inter', sans-serif;
    font-size:10px;
    
    font-weight:400;
    line-height:11px;
    
    letter-spacing:0px;
    overflow:hidden;
    text-align:justify;
    vertical-align:middle;
    margin:0px;
    padding:0px;
    background-image:url('https://64.media.tumblr.com/a70429baedfc1f26ca7da937710672f8/70cd6182f8f90067-fe/s2048x3072/a07d7d17b67b10058e277489ec03b4d5c0dbcfba.gif');
    background-size:repeat;
}

.ubis {
    display: inline-block;
    margin-left: -3px;
    color: #000000;
    font-size: 24px;
    letter-spacing: 50px;
}

.utris {
    padding: 12px;
    height: 310px;
    overflow: auto;
}

.utris::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ea899a;
    background-color: #070707;
}

.utris::-webkit-scrollbar {
    width: 10px;
    background-color: #141313;
}

.utris::-webkit-scrollbar-thumb {
    background-color: #ea899a ;
    border: 2px solid #ea899a ;
}

.u7 {
    font: 400 14px verdana;
    font-style: italic;
    color: #fffcfc;
    text-shadow: 1px 1px #0f0f0f;
}

.u7 b {
    font: 800 14px verdana;
    color: #ea899a ;
    text-shadow: 1px 1px #0f0f0f;
}

.u7::first-letter {
    font: 300 50px roboto slab;
    line-height: 100%;
    float: left;
    padding: 6px;
    margin: 6px;
    color: #ea899a ;
    text-shadow: 2px 2px #070707;
}

.u7 {
    border-radius: 10px;
    font: 10.4px verdana;
    line-height: 100%;
    text-align: justify;
    color: #ea899a ;
    padding: 12px;
    float: right;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 205px;
    height: 335px;
    border: 1px solid #ea899a;
    background: #0a0a0a;
    overflow: hidden;
}

.u6 {
    width: 105px;
    padding: 3px;
    height: 105px;
    position: absolute;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    top: 34.3px;
    left: 19px;
    animation: infinite 8s rotate;
    display: block;
    border: dashed 3px;
    z-index: 3333;
    border-color: #ea899a transparent #ea899a transparent;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

#u1 h1 {
    font: 20px roboto slab;
    line-height: 100%;
    position: relative;
    color: #ea899a;
    text-transform: uppercase;
    padding: 12px;
    margin-top: 15px;
    border-top: 7px solid #ea899a;
    width: 160px;
    left: -15px;
    text-align: justify;
}

#u1 .u5:hover span {
    color: #ea899a;
}

#u1 .u5:hover {
    right: -110px;
    background: #ea899a ;
}

.u5 span {
    color: #0a0909 ;
    transition: 0.5s linear;
    transition-delay: 0.4s;
    font-size: 14px;
    float: left;
}

.u5 {
    z-index: 333;
    transition: 0.5s linear;
    position: relative;
    top: 10px;
    background: #0c0c0c ;
    width: 155px;
    right: 40px;
    text-align: right;
    color: #ea899a;
    padding: 6px;
    border-radius: 0px 20px 20px 0px;
    font: 400 25px Lucida Sans Unicode, Lucida Grande, sans-serif;
    line-height: 100%;
    text-transform: lowercase;
}

.u10 {
    z-index: 333;
    transition: 0.5s linear;
    position: relative;
    top: 10px;
    background: #080808 ;
    width: 155px;
    right: 40px;
    text-align: right;
    color: #ea899a;
    padding: 6px;
    border-radius: 0px 20px 20px 0px;
    font: 400 25px Lucida Sans Unicode, Lucida Grande, sans-serif;
    line-height: 100%;
    text-transform: lowercase;
}

.u10 span {
    color: #0c0c0c ;
    transition: 0.5s linear;
    transition-delay: 0.4s;
    font-size: 14px;
    float: left;
}

#uEs:hover .u10 span {
    color: #080808;
}

#uEs:hover .u10 {
    right: -110px;
    background: #ea899a;
}

#uEs20:hover .u10 span {
    color: #070707;
}

#uEs20:hover .u10 {
    right: -110px;
    background: #ea899a;
}

.u4 {
    font: 300 9px Lucida Sans Unicode, Lucida Grande, sans-serif;
    line-height: 100%;
    height: 105px;
    text-transform: uppercase;
    position: relative;
    width: 100px;
    text-align: justify;
    top: 5px;
    left: -3px;
    color: #ea899a;
    padding: 5px;
}

.u3 {
    top: 15px;
    width: 100px;
    height: 100px;
    z-index: 1;
    position: relative;
    border-radius: 100%;
    border: 13px solid ;
    background-image: url('https://xatimg.com/image/gNkBHcBac7wa.gif');
    background-size: cover
}

.u2 {
    background: #020202;
    width: 240px;
    height: 440px;
    position: absolute;
    top: 0px;
    left: -100px;
    transform: rotate(-15deg);
}

#u1 {
    position: relative;
    padding: 15px;
    background: #ea899a;
    border: 5px solid #ea899a;
    box-shadow: -1px 1px #0e0d0d, 1px -1px #0a0a0a;
    margin: 0px auto;
    width: 400px;
    height: 370px;
    overflow: hidden;
    border-radius: 10px;
}