#music-btn {
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
    align-self: center; /* centraliza abaixo do painel */
}
#music-btn:hover {
    background: rgba(255, 255, 255, 0.15);
}
